In [1]:
import pandas as pd

df = pd.read_csv('report.csv')
df.drop(df.columns[df.columns.str.contains('unnamed', case=False)], axis=1, inplace=True)

In [2]:
df

,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operating Activities Growth (%)
0,2021,168088,61271,333779,191791,76740,Microsoft,0.000000,0.000000,0.000000,0.000000,0.000000
1,2022,198270,72738,364840,198298,89035,Microsoft,17.956071,18.715216,9.305858,3.392756,16.021631
2,2023,211915,72361,411976,205753,87582,Microsoft,6.882030,-0.518299,12.919636,3.759493,-1.631942
3,2021,53823,5519,62131,30548,11497,Tesla,0.000000,0.000000,0.000000,0.000000,0.000000
4,2022,81462,12556,82338,36440,14724,Tesla,51.351653,127.504983,32.523217,19.287678,28.068192
5,2023,96773,14974,106618,43009,13256,Tesla,18.795267,19.257725,29.488207,18.026894,-9.970117
6,2021,365817,94680,351002,287912,104038,Apple,0.000000,0.000000,0.000000,0.000000,0.000000
7,2022,394328,99803,352755,302083,122151,Apple,7.793788,5.410858,0.499427,4.921990,17.409985
8,2023,383285,96995,352583,290437,110543,Apple,-2.800461,-2.813543,-0.048759,-3.855232,-9.502992

In [21]:
def simple_chatbot():
    print("\nWelcome to the financial chatbot:")
    print("\nPlease select your company from the list:")
    company = input("Microsoft, Tesla, Apple").capitalize()

    print("\nPlease select fiscal year from the list:")
    year = int(input("2021, 2022, 2023"))

    print("\nPlease select metric from the list:")
    metric = input("Total Revenue, Net Income, Total Assets, Total Liabilities, Cash Flow from Operating Activities, Revenue Growth (%), Net Income Growth (%), Assets Growth (%), Liabilities Growth (%), Cash Flow from Operating Activities Growth (%)")

    if company not in ['Microsoft', 'Tesla', 'Apple']:
        print("Invalid Company Name. Please check again!")
        return  # Replace break with return
    
    if year not in [2021, 2022, 2023]:
        print("Fiscal Year details unavailable. Please check again!")
        return  # Replace break with return

    if metric not in ['Total Revenue', 'Net Income', 'Total Assets', 'Total Liabilities', 'Cash Flow from Operating Activities', 'Revenue Growth (%)', 'Net Income Growth (%)', 'Assets Growth (%)', 'Liabilities Growth (%)', 'Cash Flow from Operating Activities Growth (%)']:
        print("Metric Unavailable or Incorrect Query")
        return

    print(f"\nDisplaying {metric} for {company} for fiscal year {year} in millions:")
    answer = df[(df['Fiscal Year']==year)&(df['Company']==company)][metric].values[0]
    return answer

simple_chatbot()

Welcome to the financial chatbot:

Please select your company from the list:

Please select fiscal year from the list:

Please select metric from the list:

Displaying Cash Flow from Operating Activities Growth (%) for Tesla for fiscal year 2022 in millions:

28.068191702183174